* { 
  margin: 0; 
  padding: 0; 
}

/* ----------FONDO------------ */
#fondo {
height: 100vh;
background-image: url("./assets/fondo.jpg")
}


/* ----------INICIO------------ */


/* ------------NAVBAR---------------- */
.titulo {
color: pink;
margin-right: 375px;
font-size: larger;
font-style:italic;
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

#collasible-nav-dropdown, #BotonCatalogo {
  color: white;
  font-size: larger;
  font-family:Georgia, 'Times New Roman', Times, serif;
}


/* -----CART WIDGET-------- */

#CartWidget {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#NumeroContador {
  color: white;
}

/* ------ITEM LIST CONTAINER------------- */
#saludo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: x-large;
  color: #C04CFD;
  font-weight: bolder;
  background-color: rgb(32, 12, 34);
}

/* ------ITEM------------ */
#contenedorDeProductos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
  width: 350px;
  border-radius: 25px;
  padding: 10px;
}

#imagenCard {
width: 250px;
height: 250px;
}

.btn-warning {
background-color: black !important;
color: white !important;
}

/* ------ITEM  DETAIL------------ */
#cardDetallada {
  display: flex;
  justify-content: space-evenly;
  margin-left: 400px;
  width: auto;
  height: auto;
 }

#imagenDetallada {
 width: 400px;
 height: 400px;
}

.contenedorDeTarjetas {
  display: flex;
  width: auto;
  align-items: center;
}